* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}
.p-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}
/* navbar */
nav {
  padding: 10px 20px;
}
.logo {
  width: 150px;
}

.wrapper {
  width: 1212px;
  margin: 0 auto;
}

.btn-nav {
  margin-top: 10px;
}
.btn {
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 12px;
}
.btn-secondary {
  border: 2px solid #296fde;
  color: #296fde;
}
.btn-secondary:hover {
  border: 2px solid #7c1add;
  color: #7c1add;
  box-sizing: border-box;
}

.btn-primary {
  color: #fff;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #7c1add 164.3%);
}
.btn-primary:hover {
  background: linear-gradient(96.14deg, #277ce3 -10.84%, #660bc0 164.3%);
}

nav ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

nav ul li {
  font-size: 16px;
  margin: 0 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #5f6d7e;
}
nav ul li a:hover {
  color: #296fde;
}
